@media (min-width: 1200px) {
    header {
        height: 80px;
    }

    header > label {
        background-image: url("img/desktop_logo.svg");
        width: 65px;
        height: 100%;
        cursor: pointer;
    }

    .header__menu {
        display: block;
        position: relative;
    }

    .header__menu > .menu__list {
        display: flex;
        position: relative;

        margin-left: 50px;
    }

    .header__input {
        margin-left: 50px;
    }

    /*Main*/

    .main {
        padding: 160px;
    }

    .main > .container {
        width: 1000px;
    }

    .main__header {
        width: 500px;
        height: 300px;

        font-size: 90px;
        line-height: 100px;
    }

    .main__button__wrapper {
        margin: 30px 0 80px 0;
    }

    .main__button > a img {
        width: 50px;
        height: 50px;
    }

    .main__outer__wrapper {
        display: flex;
    }

    .main__wrapper {
        margin-top: 0;
    }

    .main__review {
        height: 100px;
        margin-top: 10px;
        margin-left: 100px;
    }

    .main__review_stars {
        margin-top: 10px;
    }

/*   Form */

    .form {
        height: 400px;
        padding: 0;
        padding-top: 60px;
    }

    .form__wrapper {
        display: flex;

        flex-direction: column;
        align-items: center;
    }

    .form > .form__wrapper > form {
        width: 1100px;
        margin: 40px 0;

        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;

    }

    .form >.form__wrapper> form > .form__input__wrapper{
        width: 300px;
        height: 50px;

    }

    .form__input__wrapper >input {
        width: 250px;


    }

    .form > .form__wrapper {
        width: 980px;
        margin: 0 auto;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .form__wrapper > form >button {
        padding: 0;
        margin: 0;

        width: 300px;
        height: 50px;
    }

    footer {
        height: 70px;
        width: 100%;
        padding: 20px 40px;

        display: flex;
        justify-content: space-between;
    }

    footer > div {
        margin-top: 0;
    }


}