
.banner_1 {
    background: #2B2835;
}

.wrapper {
    position: relative;

    margin: 0 auto;
    max-width: 1240px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.banner_1_picture {
    position: absolute;
    top: 0;
    left: -120px;

}

.info {
    width: 100%;
    max-width: 510px;

    box-sizing: border-box;
    padding: 200px 0 180px;
}

.sup_title {
    font-weight: 500;
    font-size: 16px;
    color: #ffFFFF;
}

.title {
    margin-top: 13px;

    font-weight: bold;
    font-size: 40px;
    color: #ffFFFF;
}

.info_group {
    margin-top: 40px;

    display: flex;
    align-items: center;
}

.price {
    font-weight: normal;
    font-size: 40px;
    color: #F2F2F2;
}

.button {
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;

    margin-left: 35px;
    padding: 11px 48px;
    cursor: pointer;

    border: none;
    outline: none;

    background: #FFC700;
    border-radius: 100px;
}

.sub_title {
    margin-top: 10px;

    font-size: 13px;
    font-weight: 500;
    color: #FFC700;
}