*{
    margin: 0;
    padding: 0;
}
/*HEADER*/
header{
    height: 13.6vh;
    display: flex;
}

body{
    -webkit-font-smoothing: antialiased;
    font-family: 'Abel', sans-serif;
}

.container{
    width: 100%;
    max-width: 1170px;
}

.logo{
    background: #D8D8D8;
    width: 3.3em;
    height: 3.3em;
    border-radius: 3em;
    margin: auto;
    margin-left: 3em;
}
.page {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: 35%;
    margin: auto;
    margin-right: 4%;
}
.page a{
    width: 20%;
    height: 100%;
    background: #D8D8D8;
}
/*BANNER BLOCK*/
.banner{
    background: #D8D8D8;
    height: 65vh;
    width: 100%;
    float: top;
    position: relative;

}

.intro{
    width: 40%;
    height: 60%;
    display: inline-block;
    margin-left: 9%;
}

.intro .header{
    color: black;
    font-size: 60px;
    font-style: normal;
    font-weight: normal;
    margin-top: 15vh;
}

.intro .lorem{
    color: black;
    font-size: 36px;
    font-style: normal;
    font-weight: normal;
}

.intro .buttons{
    width: 105%;
    height: 25%;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

.intro .buttons button{
    width: 45%;
    height: 95%;
}

.wb {
    background: white;
    color: black;
}

.bb{
    background: black;
    color: white;
}

.button__style {
    outline: none;
    font-size: 26px;
    line-height: 33px;
    font-style: normal;
    font-weight: normal;
    border: none;
    font-family: 'Abel', sans-serif;
}
/*ARTICLES*/
.articles{
    background: white;
    width: 100%;
    height: 85vh;
    float: top;
    position: relative;
}

.wrapper{
    width: 85%;
    height: 100%;
    margin: auto;
    margin-top: 10vh ;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}

.wrapper .container{
    width: 31%;
    height: 85%;

}

.container .rect{
    background: #D8D8D8;
    width: 100%;
    height: 50%;
}

.container .header{
    color: black;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    line-height: 38px;
    margin-top: 6%;
}

.container .article{
    color: black;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    margin-top: 4%;
}

.container .rm{
    color: #787878;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    margin-top: 9%;
}
/*MIDDLE SECTION*/
.middle_section{
    background: #D8D8D8;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.middle_section_container{
    margin: auto;
    width: 100%;
    height: 50%;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.middle_section_container_item{
    margin: auto;
    width: 80%;
    text-align: center;
    height: 30%;

}

.middle_section_container_item:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.middle_section_container_item h2{
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 4.375px;
    color: #1C1E20;

}

.middle_section_container_item form{
    margin: auto;
    width: 100%;
    height: 100%;

}

.middle_section_container_item form .inp{
    width: 38%;
    height: 100%;
    margin-left: -5%;
    padding-left: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 33px;
    color: #787878;
    outline: none;
    border: none;
}

.middle_section_container_item form .buttons{
    width: 19%;
    background:black;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 33px;
    color: #FFFFFF;
    text-align: center;
    outline: none;
    border: none;
    height: 100%;
    margin-left: -1%;
}
/*ARTICLE BLOCK*/
.article_block{
    width: 100%;
    height: 220vh;
}

.article_block_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 85%;
    height: 90%;
    margin:auto;
    margin-top: 3%;
}

.article_block_container_item{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.article_block_container_item:nth-child(even){
    flex-direction: row-reverse;
}

.article_block_container_item div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 46%;
    text-align: right;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #1C1E20;
}

.article_block_container_item div h2{
    font-weight: lighter;
}

.article_block_container_item div p{
    margin-top: 2%;
}

.article_block_container_item:nth-child(even) div{
    text-align: left;
}

.article_block_container_item .rect{
    width: 49%;
    height: 100%;
    background: #D8D8D8;
}

.article_block .btn{
    display: block;
    width: 19%;
    height: 4.2%;
    background: black;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 33px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;

    margin: auto;
    margin-top: 3%;

    outline: none;
    border: none;
}

.btn__style {
    font-family: 'Abel', sans-serif;
}

footer{
    height: 60vh;
    width: 100%;
    background: #D8D8D8;
}

.nav_block{
    width: 100%;
    height: 60%;
    box-sizing: border-box;
    padding-top: 7%;
}

.nav_block_logo{
    margin: auto;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.nav_block_container{
    margin:2% auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 53%;
    height: 20%;
}

.nav_block_container_item{
    width: 21%;
    height: 100%;
    background: white;
}

.nav_block_line{
    background: white;
    width: 70%;
    height: 2px;
    margin: 2% auto 0;
}

.soc_net_block{
    width: 100%;
    height:10% ;
    margin-top: 3%;
}

.soc_net_block_container{
    width: 17%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

